---
layout: default
---
<div class="page-home" role="main">
  <section class="next-meetup">
    {% comment %}
      Find the next meetup in the future
    {% endcomment %}
    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.posts %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate >= curDate %}
        {% assign current = post %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if current %}
    <p class="next-meetup-byline">Next Meetup:</p>
    <article class="event is-current">
      {% include event.html event=current skip_date=true call_for_talks=true %}
    </article>
    {% else %}
    <h1>We are currently planning our next meetup</h1>
    <p><a href="mailto:{{site.email}}?subject={{ "Next Rust Meetup" | uri_escape }}">Help us!</a></p>
    {% endif %}
  </section>

{% if current %}
  {% assign older = site.posts | shift %}
{% else %}
  {% assign older = site.posts %}
{% endif %}

{% if older.size > 0 %}
  <section class="prev-meetup">
    <p class="prev-meetup-byline">Previous Meetup:</p>
    {% include event-inline.html event=older.first %}
  </section>
{% endif %}

<h2>Featured Impressions</h2>
<p>The Future of Rust - Alex Crichton</p>
<iframe width="700" height="400" src="https://media.ccc.de/v/rustmcb.state-of-rust/oembed" frameborder="0" allowfullscreen></iframe>

<p>Rust 1.0 Anniversary Cake</p>
<img src="assets/rust_cake.png" style="width: 640px; margin: 8px">

</div>
