---
layout: default
---
<div class="page-home" role="main">
  <section class="next-meetup">
    {% comment %}
      Find the next meetup in the future
    {% endcomment %}
    {% assign curDate = site.time | date: '%s' %}
    {% for post in site.posts %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate >= curDate %}
        {% assign current = post %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if current %}
    <p class="next-meetup-byline">Next Meetup:</p>
    <article class="event is-current">
      {% if current.talks != false %}
        {% include event.html event=current skip_date=true call_for_talks=true %}
      {% else %}
        {% include event.html event=current skip_date=true call_for_talks=false %}
      {% endif %}
    </article>
    {% else %}
    <h1>We are currently planning our next meetup</h1>
    <p><a href="mailto:{{site.email}}?subject={{ "Next Rust Meetup" | uri_escape }}">Help us!</a></p>
    {% endif %}
  </section>

{% if current %}
  {% assign older = site.posts | shift %}
{% else %}
  {% assign older = site.posts %}
{% endif %}

{% if older.size > 0 %}
  <section class="prev-meetup">
    <p class="prev-meetup-byline">Previous Meetup:</p>
    {% include event-inline.html event=older.first %}
  </section>
{% endif %}

  <section class="featured-impressions">
    <h2>Featured Impressions</h2>
    <figure>
      <figcaption>The Future of Rust - Alex Crichton</figcaption>
      <div class="embed ratio-16-9">
        <video class='video' controls='controls' poster='https://static.media.ccc.de/media/events/rustmcb/rustmcb.state-of-rust_preview.jpg'>
          <source data-lang='eng' data-quality='high' src='http://cdn.media.ccc.de/events/rustmcb/webm-hd/rustmcb.state-of-rust.webm' title='webm full-hd eng' type='video/webm'/>
          <source data-lang='eng' data-quality='high' src='http://cdn.media.ccc.de/events/rustmcb/h264-hd/rustmcb.state-of-rust.mp4' title='mp4 full-hd eng' type='video/mp4'/>
        </video>
      </div>
    </figure>

    <figure>
      <figcaption>Rust 1.0 Anniversary Cake</figcaption>
      <img src="assets/rust_cake.jpg"/>
    </figure>
  </section>
</div>
