{% assign event = include.event %}
<div itemscope itemtype="http://schema.org/SocialEvent" itemid="{{ event.url | prepend: site.baseurl }}">
  <header class="event-header">
    <h1 class="event-title">
      <a class="event-link" href="{{ event.url | prepend: site.baseurl }}" itemprop="name">
        {% include event-title.html event=event %}
      </a>
    </h1>
  </header>

  <div class="event-meta">
    <div class="event-meta-data">
      {% if event.meetupcom %}<div class="event-meetupcom">
        <a href="{{ event.meetupcom }}" itemprop="sameAs">This event on Meetup.com</a>
      </div>{% endif %}
      {% unless include.skip_date %}
      <p class="event-time">
        <time datetime="{{ event.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="startDate">
          {{ event.date | date: "%d %B %Y %H:%M" }}
        </time>
      </p>
      {% endunless %}

      <address itemprop="location" itemscope itemtype="http://schema.org/Place" class="event-address">
        <p itemprop="name">{{event.location.name}}</p>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <p itemprop="streetAddress">{{event.location.street}}</p>
          <p itemprop="addressLocality">{{event.location.city}}</p>
        </div>
      </address>
    </div>

    <div class="event-map">
      <div class="event-map-container">
        <iframe width="600" height="450" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key={{site.google_maps_api_key | uri_escape}}&amp;q={{event.location.street | uri_escape}},+{{event.location.city | uri_escape}}" allowfullscreen> </iframe>
      </div>
    </div>
  </div>

  {% if event.talks %}
  <ol class="talk-list is-fancy">
  {% include talk-list.html talks=event.talks show_abstract=true %}
  </ol>
  {% else %}
  {% if include.call_for_talks %}
  <p><em>
    We're currently looking for talks.
    <a href="mailto:{{site.email}}?subject={{ "Talk at Rust Meetup" | uri_escape }}">Help us!</a>
  </em></p>
  {% endif %}
  {% endif %}
</div>