<footer class="site-footer">
  <div class="wrapper">
    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title %}{% unless page.not_in_menu %}
        <p><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
        {% endunless %}{% endif %}
      {% endfor %}
    </nav>
    <aside class="external-links">
      <p>
        join us on <a href="http://www.meetup.com/{{ site.author.meetup }}" rel="me">Meetup.com</a>
      </p>
      <p>
        follow us <a href="https://twitter.com/{{ site.author.twitter }}" rel="me">on Twitter</a>
      </p>
      <p>
        contribute to this site <a href="{{ site.source_url }}">on GitHub</a>
      </p>
    </aside>
  </div>
</footer>
