<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name=viewport content="width=device-width, initial-scale=1"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}"/>

    <link rel="stylesheet" href="{{ "/styles.css" | prepend: site.baseurl }}"/>
    
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Fira+Sans:400,700,400italic:latin' ] }
      };
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js" async></script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'//','/' | prepend: site.baseurl | prepend: site.url }}"/>
</head>
