<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name=viewport content="width=device-width, initial-scale=1"/>

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.location %}
    {% capture meta_description %}
      {% include event-title.html event=page %}
    {% endcapture %}
    <meta name="description" content="{{ meta_description | strip_html | trim }}"/>
    {% else %}
    <meta name="description" content="{{ site.description }}"/>
    {% endif %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>

    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ site.url }}/logo.png"/>

    <style type="text/css">
      {% capture include_to_scssify -%}
        {% include styles.scss %}
      {% endcapture -%}
      {{ include_to_scssify | scssify }}
    </style>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'//','/' | prepend: site.baseurl | prepend: site.url }}"/>
</head>
