<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name=viewport content="width=device-width, initial-scale=1"/>

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.location %}
    {% capture meta_description %}
      {% include event-title.html event=page %}
    {% endcapture %}
    <meta name="description" content="{{ meta_description | strip_html | trim }}"/>
    {% else %}
    <meta name="description" content="{{ site.description }}"/>
    {% endif %}

    <link rel="stylesheet" href="{{ "/styles.css" | prepend: site.baseurl }}"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'//','/' | prepend: site.baseurl | prepend: site.url }}"/>
</head>
