$max-width: 50rem;
$spacing: 1rem;
$spacing-small: 0.4em;
$spacing-large: 1.4em;

$breakpoint-one-column: 40rem;

$color-bg: #FFF;
$color-fg: #333;
$color-ac: #FF7500; // orange from /r/rust
$color-lo: #ccc;

@import
  "resets",
  "layout",
  "common",
  "text",
  "figures",
  "header",
  "footer",
  "event",
  "event-list",
  "talks",
  "location",
  "start",
  "template"
;