{% for talk in include.talks %}
  <li class="talk-item">
    <article class="talk" id="talk-{{forloop.index}}" itemprop="workPerformed" itemscope itemtype="http://schema.org/AudioObject">
      <header class="talk-header">
        <h1 class="talk-title" itemprop="name">{{talk.title}}</h1>
        {% if talk.speaker %}
        <p itemprop="author" itemscope itemtype="http://schema.org/Person">
          by <em class="talk-speaker" itemprop="name">{{talk.speaker.name}}</em>
          {% if talk.speaker.twitter %}<a class="talk-speaker-twitter" itemprop="sameAs" href="https://twitter.com/{{talk.speaker.twitter}}" title="@{{talk.speaker.twitter}} on Twitter">
            {% include logo-twitter.html %}
          </a>{% endif %}
          {% if talk.speaker.github %}<a class="talk-speaker-github" itemprop="sameAs" href="https://github.com/{{talk.speaker.github}}" title="@{{talk.speaker.github}} on GitHub">
            {% include logo-github.html %}
          </a>{% endif %}
          {% if talk.slides %}
            &mdash; <a itemprop="isBasedOnUrl" href="{{ talk.slides }}">Slides</a>
          {% endif %}
          {% if talk.video %}
            &mdash; <a itemprop="contentUrl" href="{{ talk.video }}">Video</a>
          {% endif %}
        </p>
        {% endif %}
      </header>
      {% if include.show_abstract && if talk.abstract %}
      <div class="talk-abstract" itemprop="description">
        {{ talk.abstract | markdownify }}
      </div>
      {% endif %}
    </article>
  </li>
{% endfor %}