.site-footer {
  margin-top: $spacing-large;
  border-top: 1px solid $color-lo;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;

  .wrapper {
    @extend %row;
    @extend %clearfix;
  }

  .site-nav,
  .external-links {
    @extend %half;
  }
}