.site-header {
  padding-top: $spacing-small;
  padding-bottom: $spacing;
  border-bottom: 1px solid $color-lo;
  margin-bottom: $spacing;
  
  .wrapper {
    @extend %row;
  }
}

.site-title {
  word-wrap: break-word;
  font-size: 2rem;
  padding-top: 1rem;

  @media screen and (max-width: 25rem) {
    font-size: 1.5rem;
  }
}