.location {
  padding: 0;
  
  .location-info {
    @extend %row;
  }

  .address,
  .location-directions {
    @extend %half;
  }

  .map-container {
    position: relative;
    height: 0;
    padding-bottom: 70%;
    margin-bottom: $spacing;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    @include label();
    margin-top: 0;
    margin-bottom: $spacing;
  }

  .location-directions {
    font-size: 0.9rem;
    line-height: 1.5;
    
    @media screen and (max-width: $breakpoint-one-column) {
      margin-top: 1em;
    }
    
    ul:first-child {
      margin-top: 0;
    }
  }
}
