.next-meetup {
  padding-top: $spacing;
}

.next-meetup-byline {
  font-size: 1.6em;
  line-height: 1;
  font-style: italic;
}

.next-meetup .event-title {
  margin-top: 0;
  font-size: 2em;
  margin-bottom: $spacing;
}