.page-home {
  .section-headline {
    display: inline-block;
    clear: right;
    padding: $spacing-small;
    margin: 0;

    font-size: 0.8rem; 
    font-weight: bold;
    text-transform: uppercase;

    background-color: $color-fg;
    color: $color-bg;
  }

  .event-title {
    margin-top: $spacing-small;
  }

  figure {
    margin-top: $spacing;
  }
}

.next-meetup {
  padding-top: $spacing;

  .event {
    margin-top: 0;
  }
}

.future-meetups,
.prev-meetup,
.featured-impressions {
  @include hr(solid);
}
