.talk-list.is-fancy {
  @extend %clearfix;
  margin-bottom: $spacing;

  .talk-item {
    @extend %half;
    margin-bottom: $spacing;
  }
}

.talk-list.is-short {
  li {
    margin-left: 1.3em;
  }
}

.talk-item .talk {
  &:before {
    display: block;
    background-color: $color-fg;
    color: $color-bg;
    padding: $spacing-small;
    margin-bottom: $spacing-small;
  }
}

.talk-header {
  margin-bottom: $spacing;

  .talk-title {
    margin-top: $spacing-small;
  }
}

// Talk Header with Counter

.talk-list.is-fancy {
  counter-reset: talk-counter;
  list-style: none;

  .talk-item .talk:before {
    counter-increment: talk-counter;
    content: "Talk #" counter(talk-counter, decimal);
  }
}