$body-font: "Fira Sans";
$body-font-fallback: "Source Sans Pro", Roboto, "Droid Sans", Helvetica, Arial, sans-serif;

body, html {
  font-family: $body-font-fallback;
  font-size: 18px;
  line-height: 1.3;
  color: $color-fg;
}

html.wf-firasans-n4-active {
  &, body {
    font-family: $body-font, $body-font-fallback;
  }
}

h1,
h2,
h3 {
  margin: $spacing 0 $spacing-small;
}

h1,
.as-h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2,
.as-h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: $color-ac;
  text-decoration: none;
}

p {
  margin-bottom: $spacing-small;
}

ul {
  margin-left: 0;
  padding-left: 1.2rem;
  list-style: square;
}

.text {
  $text-elements: p, ul, ol;
  line-height: 1.5;
  padding-bottom: $spacing;

  #{$text-elements} + #{$text-elements} {
    margin-top: $spacing;
  }

  li + li {
    margin-top: $spacing-small;
  }
}

address {
  font-style: normal;
}

hr {
  border: 0;
  height: 0;

  @include hr(dashed);
}


// Font Features

html,
body,
table {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}

h1,
h2,
h3 {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}

time {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
